* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #242423;
    --text-color: #333533;
    --hd-color: #242423;
    --primary-font: "Inconsolata", monospace;
    --hd-ft-size: 2rem;
    --txt-ft-size: 1rem;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 680px;
    margin: auto;
    border-radius: 12px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form-control>input {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    font-family: var(--primary-font);
}



.btn {
    display: block;
    border: none;
    outline: none;
    background-color: #fff;
    width: 100%;
    max-width: 260px;
    margin: 0.75rem auto;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
    color: var(--hd-color);
    transform: scale(1);
    border-radius: 12px;
    font-family: var(--primary-font);
}

.btn:focus {
    transform: scale(0.98);
}

.btn:hover {
    box-shadow: 2px 2px 8px -3px #24242365;
}