body {
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-height: 200px;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-item {
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.link {
  color: #fff;
  font-size: 18px;
}

.link:hover::before {
  background-color: #f5cc5cc2;
}

main {
  width: 80%;
  margin: 0.5rem auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0.5rem;
  padding: 1.25rem;
  width: 100%;
  text-align: center;
}
