body {
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-height: 200px;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-item {
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.link {
  color: #fff;
  font-size: 18px;
}

.link:hover {
  text-decoration: none;
  color: #fff;
}

.link:hover::before {
  background-color: #f5cc5ce5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0.5rem auto;
  border: 2px solid yellow;
}

.title {
  text-align: center;
}

.search {
  color: #f5cc5c;
}

select {
  /* a reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.filters {
  display: flex;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.5em;
  margin: 0.5rem;
  padding: 0.25em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0.5rem;
  padding: 1.25rem;
  width: 100%;
  text-align: center;
}
