*{
  margin: 0;
  box-sizing: border-box;
}
body{
  min-width: 100vh;
  background-color: #242423;
}
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
header>div>ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.logo{
  background:#0f0;
  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items:center;
  overflow:hidden;
}
.logo img{
  width: 60px;
  height: 60px;
}