.link {
  color: var(--yellow);
  font-size: 18px;
}

.link:hover::before {
  height: 3px;
  border-radius: 5px;
  background-color: var(--yellow);
}

.welcome {
  text-align: center;
  color: #fff;
}

.search {
  color: #f5cc5c;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  flex-shrink: 0;
  width: 100%;
  max-width: 480px;
}

.form-control:nth-of-type(5) {
  align-items: center;
}

.form-control>input {
  font-size: var(--txt-ft-size);
}

.form-control>input[type="text"] {
  height: 27px;
  background-color: var(--body-bg-color);
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.form-control>label {
  color: #f5cc5c;
  margin-bottom: 0.25rem;
}

.select {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid var(--yellow);
  border-radius: 12px;
}

select {
  background-color: var(--body-bg-color);
  color: var(--yellow);
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  width: 100%;
  max-width: 260px;
}

.file-input label {
  display: block;
  position: relative;

  max-width: 260px;
  height: 27px;
  border-radius: 12px;
  background: #f5cb5c;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333533;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.btn.btn--submit {
  color: #333533;
  background-color: #f5cb5c;
}

footer {
  color: #fff;
}